$mainColor: #7777bb;


.test{
  height: 300px;
  width: 300px;
  background-color: $mainColor;
  h1{
    text-transform: uppercase;
  }
}

.friendBox{
  height: 150px;
  width: 120px;
  background-color: #f3f3f3;
  border: 3px solid $mainColor;
  display: inline-block;
}
